html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
/* header section */
.header {
    text-align: center;
    position: fixed;
    top: 0;
    background-color: #FFFDBF;
    width: 100%;
}

/* colors section*/
.colors {
    margin-top: 75px;
}

 p {
     font-size: 1.1em;
 }
h1 {
 text-align: center;
 font-size: 2em;
}

.nav > li {
  display: inline;
}

.nav a {
        color: #fff;
        background: #6965FF;
        text-decoration: none;
        height: 2em;
        line-height: 30px;
        text-align: center;
        margin-right: 15px;
        padding: 10px 10px;
        font-size: 1.1em;
}

.nav a:hover {
    color: #FFAE50;
}

h2 {
 text-align: center;
 font-size: 1.8em;
}

h3 {
    text-align: center;
}
.colors {
    display: block;
    font-Family: 'Merriweather Sans', Sans-Serif;
}

.orange {
    background-color: #FFAE50;
    color: white;
}

.blue {
   background-color: #6965FF;
   text-align: end;
   color: white;
}

.lime {
   background-color: #FFFDBF;
}

.teal {
    background-color: #8DE4FE;
    text-align: end;
}

.orange, .blue, .lime, .teal {
    font-size:  1.1em;
    align-items: center;
}

/* font section*/

.fonts {
    display: inline-flex;
    margin: 10px;
    background-color: #FFFDBF;
}

.cat {
    font-Family: 'Catamaran', Sans-Serif;
    border: 5px solid #8DE4FE;
    margin: 2px;
    padding: 2px;
}

.merri {
    font-Family: 'Merriweather Sans', Sans-Serif;
    border: 5px solid #8DE4FE;
    margin: 2px;
    padding: 2px;
}

.open {
    font-Family: 'Open Sans', Sans-Serif;
    border: 5px solid #8DE4FE;
    margin: 2px;
    padding: 2px;
}


.bold {
   font-weight: 900;
}

.italic {
    font-style: italic;
}

/* text section*/

.text {
    display: flex;
    margin: 10px;
    margin-bottom: 50px;
}

.text ul > li {
    list-style-type: square;
    margin: 10px;
    padding: 10px;
}

.h1, .h2, .p {
    border: 5px solid #6965FF;
    flex: 1;
    margin: 5px;
    background-color: #FFAE50;
}
/* footer section */

.footer {
    width: 100%;
    background-color: #FFFDBF;
    position: fixed;
    bottom: 0;
    height: 3em;
    display: flex;
}

.copyright {
    font-size: 1em;
    line-height: 3em;
    flex: 1;
    padding-left: 1em;
}

.locale {
   font-size: 1em;
   line-height: 3em;
   flex: 1;
   text-align: right;
   padding-right: 2em;
}

@media only screen and (max-width: 400px) {
    .nav > li {
        font-size: 1.4em;
    }
    
    .colors {
        display: flex;
        flex-flow: column wrap;
    }
    
    .fonts {
       display: block;
    }
    
    .text {
        display: block;
    }
    
    .locale {
     margin-left: -1em;
}
}